.step-list {
  max-height: 80vh; /* Adjust based on your layout */
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.step-list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.step-list li {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.step-list li.active {
  background-color: #e0e0e0; /* Highlight active step */
}

.step-number {
  margin-right: 8px;
  font-weight: bold;
}

.delete-icon {
  margin-left: auto;
  color: red;
  cursor: pointer;
}

.confirm-delete {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.confirm-delete button {
  margin-left: 1px;
}
