/* src/App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.navbar {
  padding: 10px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
}

.right-panel {
  padding: 20px;
  padding-left: 55px;
  background-color: #fff;
  flex-grow: 1;
  height: 100%;
}

.step-list ul {
  list-style: none;
  padding: 0;
}

.step-list li {
  padding: 8px;
  cursor: pointer;
}

.step-list li.active {
  background-color: #ddd;
}

.inventory-grid {
  display: flex;
  flex-wrap: wrap;
}

.inventory-grid img {
  width: 32px;
  height: 32px;
  margin: 5px;
}

.map-view img {
  width: 100%;
  height: auto;
}

.navigation {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

/* Customize the ReactQuill editor */
.ql-container {
  height: 200px;
  margin-bottom: 10px;
}

.ql-editor {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

/* src/App.css */
input[type="file"] {
  display: none;
}

.custom-file-upload {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: 1px solid #444;
  cursor: pointer;
  margin-right: 10px;
}

.custom-file-upload:hover {
  background-color: #444;
}

.step-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  cursor: pointer;
}

.step-list .edit-icon {
  margin-left: 10px;
  cursor: pointer;
}

.step-list input[type="text"] {
  width: 80%;
  padding: 4px;
  margin-right: 10px;
}

/* Drawer Content */
.drawer-header {
  padding: 16px;
  background-color: #333;
  color: white;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drawer-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 1200px) {
  .right-panel {
    margin-left: 0;
    padding: 10px;
  }

  .container {
    flex-direction: column;
  }
}